<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
 	<meta name="viewport" content="width=device-width,user-scalable=yes" />
 	<title>实验教学中心互动平台</title>
	<link rel="stylesheet" href="__PUBLIC__/face/css/public.css"/>
	<link rel="stylesheet" href="__PUBLIC__/face/css/comp.css"/>
 
</head>
<body>
	<div id="Cheader">
		<include file="./Application/Home/View/Index/Public/header.html" />
	</div>

	<div id="Cnav">
		<include file="./Application/Home/View/Index/Public/nav.html" />
	</div>

	<div id="Cmain">
		<div class="Ccontainer">
			<div id="main_nav">
			<section>
				<h3>综和交流</h3>
				<ul class="ultop">
					<li><a href="__APP__/Home/comp/comp">热门主题</a></li>
					<li><a href="__APP__/Home/comp/comp">最近主题</a></li>
					<li><a href="__APP__/Home/comp/comp">关注主题</a></li>
				</ul>
			</section>
			</div>
			<div class="rightc">
				<div id="topicCon">
					<div class="mini_nav">
						<span class="mini_title">畅聊天地</span><a href="__APP__/Home/comp/themeluanch"><button class="button">发表新主题</button></a>
					</div>
					<div>
						<div class="topic">
							<div class="substance">
								<div class="substance_top">
									<div class="s_t_title"><a href="__APP__/Home/comp/showitem.html">讨论交流主题 arghikashu a wkdfihaiuwh awrhauiwrh arsetgsedwgsdaergasetgwAETSERFErfsgsd的责任感的大概多少如果这些gfhuiawgb rfu</a></div>
									<div class="author">
									<span  class="s_t_l"><img  src="__PUBLIC__/face/images/icon/person.png" alt="" class="icon_a" title="主题作者" ) no-repeat;">程天赐</span>
									<span  class="s_t_l"><img  src="__PUBLIC__/face/images/icon/time.png" alt="" class="icon_a" title="发布时间" ) no-repeat;">2017-05-22</span>
									<span  class="s_t_l"><img  src="__PUBLIC__/face/images/icon/comment.png" alt="" class="icon_a" title="评论量" ) no-repeat;">66</span>
									<span  class="s_t_l"><img  src="__PUBLIC__/face/images/icon/prise.png" alt="" class="icon_a" title="赞" ) no-repeat;">33</span>
									</div>
								</div>
							<div class="clr"></div>
								<div class="substance_down">
									<div class="s_d_reply">ahwui金海威风阿尔回复一句话吧而非爱上合计发红包按碎回复哈斯家色符合最新的回复信息吹过，柔柔的，软软的，象一朵云彩轻拂着我的脸。她是从春天的阳光中走来，从大山深处穿越而来，带着花草的清香，带着放飞的梦想，一</div>
									<div class="replyer">
										<span class="s_d_l"><img src="__PUBLIC__/face/images/icon/person.png" alt="" class="icon_r" title="最新回复人" ) no-repeat;">朱传波</span>
										<span class="s_d_l"><img src="__PUBLIC__/face/images/icon/time.png" alt="" class="icon_r" title="回复时间" ) no-repeat;">17：01</span>
									</div><div class="clr"></div>
								</div>
							</div>
						</div>
						<div class="topic">
							<div class="substance">
								<div class="substance_top">
									<div class="s_t_title"><a href="__APP__/Home/comp/showitem.html">讨论交流主题 arghikashu a wkdfihaiuwh awrhauiwrh arsetgsedwgsdaergasetgwAETSERFErfsgsd的责任感的大概多少如果这些gfhuiawgb rfu</a></div>
									<div class="author">
									<span  class="s_t_l"><img  src="__PUBLIC__/face/images/icon/person.png" alt="" class="icon_a" title="主题作者" ) no-repeat;">程天赐</span>
									<span  class="s_t_l"><img  src="__PUBLIC__/face/images/icon/time.png" alt="" class="icon_a" title="发布时间" ) no-repeat;">2017-05-22</span>
									<span  class="s_t_l"><img  src="__PUBLIC__/face/images/icon/comment.png" alt="" class="icon_a" title="评论量" ) no-repeat;">66</span>
									<span  class="s_t_l"><img  src="__PUBLIC__/face/images/icon/prise.png" alt="" class="icon_a" title="赞" ) no-repeat;">123</span>
									</div>
								</div>
							<div class="clr"></div>
								<div class="substance_down">
									<div class="s_d_reply">ahwui金海威风阿尔回复一句话吧而非爱上合计发红包按碎回复哈斯家色符合最新的回复信息吹过，柔柔的，软软的，象一朵云彩轻拂着我的脸。她是从春天的阳光中走来，从大山深处穿越而来，带着花草的清香，带着放飞的梦想，一</div>
									<div class="replyer">
										<span class="s_d_l"><img src="__PUBLIC__/face/images/icon/person.png" alt="" class="icon_r" title="最新回复人" ) no-repeat;">朱传波</span>
										<span class="s_d_l"><img src="__PUBLIC__/face/images/icon/time.png" alt="" class="icon_r" title="回复时间" ) no-repeat;">17：01</span>
									</div><div class="clr"></div>
								</div>
							</div>
						</div>
						<div class="topic">
							<div class="substance">
								<div class="substance_top">
									<div class="s_t_title"><a href="__APP__/Home/comp/showitem.html">讨论交流主题 arghikashu a wkdfihaiuwh awrhauiwrh arsetgsedwgsdaergasetgwAETSERFErfsgsd的责任感的大概多少如果这些gfhuiawgb rfu</a></div>
									<div class="author">
									<span  class="s_t_l"><img  src="__PUBLIC__/face/images/icon/person.png" alt="" class="icon_a" title="主题作者" ) no-repeat;">程天赐</span>
									<span  class="s_t_l"><img  src="__PUBLIC__/face/images/icon/time.png" alt="" class="icon_a" title="发布时间" ) no-repeat;">2017-05-22</span>
									<span  class="s_t_l"><img  src="__PUBLIC__/face/images/icon/comment.png" alt="" class="icon_a" title="评论量" ) no-repeat;">66</span>
									<span  class="s_t_l"><img  src="__PUBLIC__/face/images/icon/prise.png" alt="" class="icon_a" title="赞" ) no-repeat;">32</span>
									</div>
								</div>
							<div class="clr"></div>
								<div class="substance_down">
									<div class="s_d_reply">ahwui金海威风阿尔回复一句话吧而非爱上合计发红包按碎回复哈斯家色符合最新的回复信息吹过，柔柔的，软软的，象一朵云彩轻拂着我的脸。她是从春天的阳光中走来，从大山深处穿越而来，带着花草的清香，带着放飞的梦想，一</div>
									<div class="replyer">
										<span class="s_d_l"><img src="__PUBLIC__/face/images/icon/person.png" alt="" class="icon_r" title="最新回复人" ) no-repeat;">朱传波</span>
										<span class="s_d_l"><img src="__PUBLIC__/face/images/icon/time.png" alt="" class="icon_r" title="回复时间" ) no-repeat;">17：01</span>
									</div><div class="clr"></div>
								</div>
							</div>
						</div>
						<div class="topic">
							<div class="substance">
								<div class="substance_top">
									<div class="s_t_title"><a href="__APP__/Home/comp/showitem.html">讨论交流主题 arghikashu a wkdfihaiuwh awrhauiwrh arsetgsedwgsdaergasetgwAETSERFErfsgsd的责任感的大概多少如果这些gfhuiawgb rfu</a></div>
									<div class="author">
									<span  class="s_t_l"><img  src="__PUBLIC__/face/images/icon/person.png" alt="" class="icon_a" title="主题作者" ) no-repeat;">程天赐</span>
									<span  class="s_t_l"><img  src="__PUBLIC__/face/images/icon/time.png" alt="" class="icon_a" title="发布时间" ) no-repeat;">2017-05-22</span>
									<span  class="s_t_l"><img  src="__PUBLIC__/face/images/icon/comment.png" alt="" class="icon_a" title="评论量" ) no-repeat;">66</span>
									<span  class="s_t_l"><img  src="__PUBLIC__/face/images/icon/prise.png" alt="" class="icon_a" title="赞" ) no-repeat;">12</span>
									</div>
								</div>
							<div class="clr"></div>
								<div class="substance_down">
									<div class="s_d_reply">ahwui金海威风阿尔回复一句话吧而非爱上合计发红包按碎回复哈斯家色符合最新的回复信息吹过，柔柔的，软软的，象一朵云彩轻拂着我的脸。她是从春天的阳光中走来，从大山深处穿越而来，带着花草的清香，带着放飞的梦想，一</div>
									<div class="replyer">
										<span class="s_d_l"><img src="__PUBLIC__/face/images/icon/person.png" alt="" class="icon_r" title="最新回复人" ) no-repeat;">朱传波</span>
										<span class="s_d_l"><img src="__PUBLIC__/face/images/icon/time.png" alt="" class="icon_r" title="回复时间" ) no-repeat;">17：01</span>
									</div><div class="clr"></div>
								</div>
							</div>
						</div>

						<div class="clr"></div>
					</div>
				</div>
			</div>
			<div class="hottpc">
						<div id="h_t_ti">热门话题</div>
							<ul id="h_t_cont">
								<li  class="h_t_con_ex"><span class="h_t_con_ex_num_c">1</span><a class="h_t_con_ex_tit" href="">说为何啵啵猝死家中 </a><span class="h_t_con_ex_heat">999</span></li>
								<li  class="h_t_con_ex"><span class="h_t_con_ex_num_c">2</span><a class="h_t_con_ex_tit" href="">天宇为何无故。</a><span class="h_t_con_ex_heat">99</span></li>
								<li  class="h_t_con_ex"><span class="h_t_con_ex_num_c">3</span><a class="h_t_con_ex_tit" href="">biaoti </a><span class="h_t_con_ex_heat">80</span></li>
								<li  class="h_t_con_ex"><span class="h_t_con_ex_num">4</span><a class="h_t_con_ex_tit" href="">biaoti </a><span class="h_t_con_ex_heat">70</span></li>
								<li  class="h_t_con_ex"><span class="h_t_con_ex_num">5</span><a class="h_t_con_ex_tit" href="">biaoti </a><span class="h_t_con_ex_heat">60</span></li>
								<li  class="h_t_con_ex"><span class="h_t_con_ex_num">6</span><a class="h_t_con_ex_tit" href="">biaoti </a><span class="h_t_con_ex_heat">50</span></li>
								<li  class="h_t_con_ex"><span class="h_t_con_ex_num">7</span><a class="h_t_con_ex_tit" href="">biaoti </a><span class="h_t_con_ex_heat">40</span></li>
								<li  class="h_t_con_ex"><span class="h_t_con_ex_num">8</span><a class="h_t_con_ex_tit" href="">biaoti </a><span class="h_t_con_ex_heat">30</span></li>
								<li  class="h_t_con_ex"><span class="h_t_con_ex_num">9</span><a class="h_t_con_ex_tit" href="">biaoti </a><span class="h_t_con_ex_heat">25</span></li>
							</ul>
			</div>
		</div>
	
	</div>
	<div class="clr"></div>
	<div id="Cfooter">
		<include file="./Application/Home/View/Index/Public/footer.html" />
	</div>
</body>
</html>
