<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
 	<meta name="viewport" content="width=device-width,user-scalable=yes" />
 	<title>实验教学中心互动平台</title>
	<link rel="stylesheet" href="__PUBLIC__/face/css/public.css"/>
	<link rel="stylesheet" href="__PUBLIC__/face/css/application.css"/>
 
</head>
<body>
	<div id="Cheader">
		<include file="./Application/Home/View/Index/Public/header.html" />
	</div>

	<div id="Cnav">
		<include file="./Application/Home/View/Index/Public/nav.html" />
	</div>

	<div id="Cmain">
		<div class="Ccontainer">
			<div id="main_nav">
			<section>
				<h3>个人中心</h3>
				<ul class="ultop">
					<li><a href="__APP__/Home/User/index">基本信息</a></li>
					<li><a href="__APP__/Home/User/application">我的申请</a></li>
					<li><a href="__APP__/Home/User/message">我的消息</a></li>
				</ul>
			</section>
			</div>
			<div class="rightc">
				<div id="topicCon">
					<div class="mini_nav">
						<span class="mini_title">我的申请</span>
					</div>
					<div class="themeapp">
						<div class="minihead">
							<h3 class="m_h_title"><a>话题申请</a></h3>
						</div>
						<div class="float_lis">
						<div class="list">
							<ul>
								<li ><a class="ex_item" href="__APP__/Home/User/appdetail"><div class="point"></div><p><b>[待审]</b>五月，携一缕浅夏的芬芳，凝一脂冰清玉洁的清梦，连同五月特有											的浓郁，悠然地坐在暮春的肩头，温暖的阳光洒进心扉，</p><span>2017-05-06</span></a></li>
								<li ><a class="ex_item" href="__APP__/Home/User/appdetail"><div class="point"></div><p><b>[待审]</b>五月，携一缕浅夏的芬芳，凝一脂冰清玉洁的清梦，连同五月特有
								的浓郁，悠然地坐在暮春的肩头，温暖的阳光洒进心扉，</p><span>2017-05-06</span></a></li>
								<li ><a class="ex_item" href="__APP__/Home/User/appdetail"><div class="point"></div><p><b>[通过]</b>五月，携一缕浅夏的芬芳，凝一脂冰清玉洁的清梦，连同五月特有
								的浓郁，悠然地坐在暮春的肩头，温暖的阳光洒进心扉，</p><span>2017-05-06</span></a></li>
								<li ><a class="ex_item" href="__APP__/Home/User/appdetail"><div class="point"></div><p><b>[拒绝]</b>五月，携一缕浅夏的芬芳，凝一脂冰清玉洁的清梦，连同五月特有
								的浓郁，悠然地坐在暮春的肩头，温暖的阳光洒进心扉，</p><span>2017-05-06</span></a></li>
							</ul>
						</div>
						</div>
					</div>
					<div class="sourceapp">
						<div class="minihead">
					<h3 class="m_h_title"><a>资源提交</a></h3>
					</div>
					<div class="float_lis">
						<div class="list">
							<ul>
								<li ><a class="ex_item" href="__APP__/Home/User/appdetail"><div class="point"></div><p><b>[拒绝]</b>五月，携一缕浅夏的芬芳，凝一脂冰清玉洁的清梦，连同五月特有											的浓郁，悠然地坐在暮春的肩头，温暖的阳光洒进心扉，</p><span>2017-05-06</span></a></li>
								<li ><a class="ex_item" href="__APP__/Home/User/appdetail"><div class="point"></div><p><b>[拒绝]</b>五月，携一缕浅夏的芬芳，凝一脂冰清玉洁的清梦，连同五月特有
								的浓郁，悠然地坐在暮春的肩头，温暖的阳光洒进心扉，</p><span>2017-05-06</span></a></li>
								<li ><a class="ex_item" href="__APP__/Home/User/appdetail"><div class="point"></div><p><b>[通过]</b>五月，携一缕浅夏的芬芳，凝一脂冰清玉洁的清梦，连同五月特有
								的浓郁，悠然地坐在暮春的肩头，温暖的阳光洒进心扉，</p><span>2017-05-06</span></a></li>
								<li ><a class="ex_item" href="__APP__/Home/User/appdetail"><div class="point"></div><p><b>[待审]</b>五月，携一缕浅夏的芬芳，凝一脂冰清玉洁的清梦，连同五月特有
								的浓郁，悠然地坐在暮春的肩头，温暖的阳光洒进心扉，</p><span>2017-05-06</span></a></li>
							</ul>
						</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	
	</div>
	<div class="clr"></div>
	<div id="Cfooter">
		<include file="./Application/Home/View/Index/Public/footer.html" />
	</div>
</body>
</html>
