  <!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
 	<meta name="viewport" content="width=device-width,user-scalable=yes" />
 	<title>实验教学中心互动平台</title>
	<link rel="stylesheet" href="__PUBLIC__/face/css/public.css"/>
	<link rel="stylesheet" href="__PUBLIC__/face/css/pictureshow.css"/>

</head>
<body>
	<div id="Cheader">
		<include file="./Application/Home/View/Index/public/header.html" />
	</div>

	<div id="Cnav">
		<include file="./Application/Home/View/Index/public/nav.html" />
	</div>

	<div id="Cmain">
		<div class="Ccontainer">
			<div id="main_nav">
				<section>
					<h3>资源共享</h3>
					<ul class="ultop">
						<li><a href="__APP__/Home/source/picture.html">图片</a></li>
						<li><a href="__APP__/Home/source/document.html">文件</a></li>
						<li><a href="__APP__/Home/source/video.html">视频</a></li>
						<li><a href="__APP__/Home/source/zip.html">其他</a></li>
					</ul>
				</section>
			</div>
			<div class="rightc_nhot">
				<div class="mini_nav">
					<span class="mini_title">图片名</span><a class="download" href="">文件下载</a>
				</div>
				<div class="pictureshow">
					<div class="con">
						<img class="picture" src="__PUBLIC__/face/images/slider/lrgimg4.jpg">
					</div><div class="clr"></div>
					<span class="conicon">
						<span  class="s_t_l"><img  src="__PUBLIC__/face/images/icon/person.png" alt="" class="icon_a" title="主题作者" ) no-repeat;">程天赐</span>
						<span  class="s_t_l"><img  src="__PUBLIC__/face/images/icon/time.png" alt="" class="icon_a" title="发布时间" ) no-repeat;">2017-05-22</span>
					</span>
					<div class="con">
						<span class="des">浪漫的五月总能营造出绚丽多姿的色彩，总能姿意
											出淡雅清新的情愫。五月风，越过高山的坎坎坷坷，拂去了岁月的
											尘埃，五月的风，如诗人的笔，如画家的五彩，将
											绿色覆盖每一片荒凉，让大地换上了新装。五月风，洋溢着笑脸，
											灿烂着每一朵花儿，用希望的手叩响了沉睡的天空
											，吹散了糜烂，吹走了腐味，带来了清晰。五月风，轻轻地从耳边
											吹过，柔柔的，软软的，象一朵云彩轻拂着我的脸
											。她是从春天的阳光中走来，从大山深处穿越而来，带着花草的清
											香，带着放飞的梦想，一路欢歌，把大地点缀得如
											诗如画。五月风，记载着一个个美丽的传说，每一个传说都化做一
											片云彩，弥漫在整个天空。</span>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<div class="clr"></div>
	</div>
	<div id="Cfooter">
		<include file="./Application/Home/View/Index/public/footer.html" />
	</div>
</body>
</html>