<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
 	<meta name="viewport" content="width=device-width,user-scalable=yes" />
 	<title>实验教学中心互动平台</title>
	<link rel="stylesheet" href="__PUBLIC__/face/css/public.css"/>
	<link rel="stylesheet" href="__PUBLIC__/face/css/video.css"/>
  	<script type="text/javascript" src="__PUBLIC__/public/js/jquery-1.8.3.min.js"></script>
  	<script type="text/javascript" src="__PUBLIC__/face/js/AC_RunActiveContent.js"></script><!--js特效的播放器插件检测-->
</head>
<body>
	<div id="Cheader">
		<include file="./Application/Home/View/Index/public/header.html" />
	</div>

	<div id="Cnav">
		<include file="./Application/Home/View/Index/public/nav.html" />
	</div>

	<div id="Cmain">
		<div class="Ccontainer">
			<div id="main_nav">
				<section>
					<h3>资源共享</h3>
					<ul class="ultop">
						<li><a href="__APP__/Home/source/picture.html">图片</a></li>
						<li><a href="__APP__/Home/source/document.html">文件</a></li>
						<li><a href="__APP__/Home/source/video.html">视频</a></li>
						<li><a href="__APP__/Home/source/zip.html">其他</a></li>
					</ul>
				</section>
			</div>
			<div class="rightc_nhot">
				<div class="mini_nav">
					<span class="mini_title">视频</span>
				</div>
				<div class="search_Button">
					<form class="searchform" action="" method="post">
						<div class="con_input"><input class='input' type="text" name="search"><input id="Ssubmit" type="submit" value="视频搜索" ></div><div class="clr"></div>
					</form>
				</div>
				<section class="main_list">
		          <div class="video_con_box">
		            <div class="video_thumb">
		              <a href="http://v.youku.com/v_show/id_XMjcxNzIzOTU4NA==.html?spm=a2hfx.20022613.m_233354.5~5!2~5~5!2~5~5~A" title="[读书人]俞敏洪下跪求母亲" target="video" data-spm-anchor-id="a2hfx.20022613.m_233354.5~5!2~5~5!2~5~5~A"></a>
		              <img alt="[读书人]俞敏洪下跪求母亲" src="//r1.ykimg.com/0510000058F8A8E5AD9E0735AF0C9949">
		            </div>
		            <div class="video_title_box">
		              <div class="video_title">
		                <a href="http://v.youku.com/v_show/id_XMjcxNzIzOTU4NA==.html" title="[读书人]俞敏洪下跪求母亲" target="video">[读书人]俞敏洪下跪求母亲</a>
		              </div>
		            </div>
		          </div>

		          <div class="video_con_box">
		            <div class="video_thumb">
		              <a href="http://v.youku.com/v_show/id_XMjcxNzIzOTU4NA==.html?spm=a2hfx.20022613.m_233354.5~5!2~5~5!2~5~5~A" title="[读书人]俞敏洪下跪求母亲" target="video" data-spm-anchor-id="a2hfx.20022613.m_233354.5~5!2~5~5!2~5~5~A"></a>
		              <img alt="[读书人]俞敏洪下跪求母亲" src="//r1.ykimg.com/0510000058F8A8E5AD9E0735AF0C9949">
		            </div>
		            <div class="video_title_box">
		              <div class="video_title">
		                <a href="http://v.youku.com/v_show/id_XMjcxNzIzOTU4NA==.html" title="[读书人]俞敏洪下跪求母亲" target="video">[读书人]俞敏洪下跪求母亲</a>
		              </div>
		            </div>
		          </div>

		          <div class="video_con_box">
		            <div class="video_thumb">
		              <a href="http://v.youku.com/v_show/id_XMjcxNzIzOTU4NA==.html?spm=a2hfx.20022613.m_233354.5~5!2~5~5!2~5~5~A" title="[读书人]俞敏洪下跪求母亲" target="video" data-spm-anchor-id="a2hfx.20022613.m_233354.5~5!2~5~5!2~5~5~A"></a>
		              <img alt="[读书人]俞敏洪下跪求母亲" src="//r1.ykimg.com/0510000058F8A8E5AD9E0735AF0C9949">
		            </div>
		            <div class="video_title_box">
		              <div class="video_title">
		                <a href="http://v.youku.com/v_show/id_XMjcxNzIzOTU4NA==.html" title="[读书人]俞敏洪下跪求母亲" target="video">[读书人]俞敏洪下跪求母亲</a>
		              </div>
		            </div>
		          </div>
		          
		          <div class="video_con_box">
		            <div class="video_thumb">
		              <a href="http://v.youku.com/v_show/id_XMjcxNzIzOTU4NA==.html?spm=a2hfx.20022613.m_233354.5~5!2~5~5!2~5~5~A" title="[读书人]俞敏洪下跪求母亲" target="video" data-spm-anchor-id="a2hfx.20022613.m_233354.5~5!2~5~5!2~5~5~A"></a>
		              <img alt="[读书人]俞敏洪下跪求母亲" src="//r1.ykimg.com/0510000058F8A8E5AD9E0735AF0C9949">
		            </div>
		            <div class="video_title_box">
		              <div class="video_title">
		                <a href="http://v.youku.com/v_show/id_XMjcxNzIzOTU4NA==.html" title="[读书人]俞敏洪下跪求母亲" target="video">[读书人]俞敏洪下跪求母亲</a>
		              </div>
		            </div>
		          </div>

		          <div class="video_con_box">
		            <div class="video_thumb">
		              <a href="http://v.youku.com/v_show/id_XMjcxNzIzOTU4NA==.html?spm=a2hfx.20022613.m_233354.5~5!2~5~5!2~5~5~A" title="[读书人]俞敏洪下跪求母亲" target="video" data-spm-anchor-id="a2hfx.20022613.m_233354.5~5!2~5~5!2~5~5~A"></a>
		              <img alt="[读书人]俞敏洪下跪求母亲" src="//r1.ykimg.com/0510000058F8A8E5AD9E0735AF0C9949">
		            </div>
		            <div class="video_title_box">
		              <div class="video_title">
		                <a href="http://v.youku.com/v_show/id_XMjcxNzIzOTU4NA==.html" title="[读书人]俞敏洪下跪求母亲" target="video">[读书人]俞敏洪下跪求母亲</a>
		              </div>
		            </div>
		          </div>

		          <div class="video_con_box">
		            <div class="video_thumb">
		              <a href="http://v.youku.com/v_show/id_XMjcxNzIzOTU4NA==.html?spm=a2hfx.20022613.m_233354.5~5!2~5~5!2~5~5~A" title="[读书人]俞敏洪下跪求母亲" target="video" data-spm-anchor-id="a2hfx.20022613.m_233354.5~5!2~5~5!2~5~5~A"></a>
		              <img alt="[读书人]俞敏洪下跪求母亲" src="//r1.ykimg.com/0510000058F8A8E5AD9E0735AF0C9949">
		            </div>
		            <div class="video_title_box">
		              <div class="video_title">
		                <a href="http://v.youku.com/v_show/id_XMjcxNzIzOTU4NA==.html" title="[读书人]俞敏洪下跪求母亲" target="video">[读书人]俞敏洪下跪求母亲</a>
		              </div>
		            </div>
		          </div>

		          <div class="video_con_box">
		            <div class="video_thumb">
		              <a href="http://v.youku.com/v_show/id_XMjcxNzIzOTU4NA==.html?spm=a2hfx.20022613.m_233354.5~5!2~5~5!2~5~5~A" title="[读书人]俞敏洪下跪求母亲" target="video" data-spm-anchor-id="a2hfx.20022613.m_233354.5~5!2~5~5!2~5~5~A"></a>
		              <img alt="[读书人]俞敏洪下跪求母亲" src="//r1.ykimg.com/0510000058F8A8E5AD9E0735AF0C9949">
		            </div>
		            <div class="video_title_box">
		              <div class="video_title">
		                <a href="http://v.youku.com/v_show/id_XMjcxNzIzOTU4NA==.html" title="[读书人]俞敏洪下跪求母亲" target="video">[读书人]俞敏洪下跪求母亲</a>
		              </div>
		            </div>
		          </div>

		          <div class="video_con_box">
		            <div class="video_thumb">
		              <a href="http://v.youku.com/v_show/id_XMjcxNzIzOTU4NA==.html?spm=a2hfx.20022613.m_233354.5~5!2~5~5!2~5~5~A" title="[读书人]俞敏洪下跪求母亲" target="video" data-spm-anchor-id="a2hfx.20022613.m_233354.5~5!2~5~5!2~5~5~A"></a>
		              <img alt="[读书人]俞敏洪下跪求母亲" src="//r1.ykimg.com/0510000058F8A8E5AD9E0735AF0C9949">
		            </div>
		            <div class="video_title_box">
		              <div class="video_title">
		                <a href="http://v.youku.com/v_show/id_XMjcxNzIzOTU4NA==.html" title="[读书人]俞敏洪下跪求母亲" target="video">[读书人]俞敏洪下跪求母亲</a>
		              </div>
		            </div>
		          </div>

		          <div class="video_con_box">
		            <div class="video_thumb">
		              <a href="http://v.youku.com/v_show/id_XMjcxNzIzOTU4NA==.html?spm=a2hfx.20022613.m_233354.5~5!2~5~5!2~5~5~A" title="[读书人]俞敏洪下跪求母亲" target="video" data-spm-anchor-id="a2hfx.20022613.m_233354.5~5!2~5~5!2~5~5~A"></a>
		              <img alt="[读书人]俞敏洪下跪求母亲" src="//r1.ykimg.com/0510000058F8A8E5AD9E0735AF0C9949">
		            </div>
		            <div class="video_title_box">
		              <div class="video_title">
		                <a href="http://v.youku.com/v_show/id_XMjcxNzIzOTU4NA==.html" title="[读书人]俞敏洪下跪求母亲" target="video">[读书人]俞敏洪下跪求母亲</a>
		              </div>
		            </div>
		          </div>
		          <div class="clr"></div>
		          <p>上一页 / 下一页</p>
       			</section>
			</div>
		</div>
	</div>
	<div class="clr"></div>
	</div>
	<div id="Cfooter">
		<include file="./Application/Home/View/Index/public/footer.html" />
	</div>

</body>
</html>