<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
 	<meta name="viewport" content="width=device-width,user-scalable=yes" />
 	<title>实验教学中心互动平台</title>
	<link rel="stylesheet" href="__PUBLIC__/face/css/public.css"/>
	<link rel="stylesheet" href="__PUBLIC__/face/css/notice.css"/>

</head>
<body>
	<div id="Cheader">
		<include file="./Application/Home/View/Index/public/header.html" />
	</div>

	<div id="Cnav">
		<include file="./Application/Home/View/Index/public/nav.html" />
	</div>

	<div id="Cmain">
		<div class="Ccontainer">
			<div id="main_nav">
				<section>
					<h3>平台概况</h3>
					<ul class="ultop">
						<li><a href="__APP__/Home/introduction/introduction">平台概况</a></li>
						<li><a href="__APP__/Home/introduction/notic">通知公告</a></li>
						<li><a href="__APP__/Home/introduction/connect">联系我们</a></li>
						
					</ul>
				</section>
			</div>
			<div class="rightc_nhot">
				<div class="mini_nav">
					<span class="mini_title">平台公告</span>
				</div>
				<div class="float_lis">
					<div class="list">
						<ul>
						<li ><a class="ex_item" href="__APP__/Home/introduction/summary"><div class="point"></div>实验教学中心互动平台<span>2017-05-06</span></a></li>
						<li ><a class="ex_item" href="__APP__/Home/introduction/summary"><div class="point"></div>实验教学中心互动平台<span>2017-05-06</span></a></li>
						<li ><a class="ex_item" href="__APP__/Home/introduction/summary"><div class="point"></div>实验教学中心互动平台<span>2017-05-06</span></a></li>
						<li ><a class="ex_item" href="__APP__/Home/introduction/summary"><div class="point"></div>实验教学中心互动平台<span>2017-05-06</span></p></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clr"></div>
	</div>
	<div id="Cfooter">
		<include file="./Application/Home/View/Index/public/footer.html" />
	</div>
</body>
</html>